* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0;
}

.header {grid-area: header;}
.sidebar {grid-area: sidebar;}
.content {grid-area: contentBox;}
.container {
    display: grid;
    grid-template: 1.25fr 6fr / 1.5fr 5fr;
    grid-template-areas:
    "sidebar header"
    "sidebar contentBox";
}

.search {grid-area: search;}
.nonSearch {grid-area: nonSearch}
.header{
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-template-areas:
    "search"
    "nonSearch";
    background-color: white;
    box-shadow: 0px 2px 5px rgb(104, 104, 104);
    padding-right: 5%;;
    padding-left: 5%;
}

.search {
    display: grid;
    grid-template: 1fr / 4fr 1fr;
    align-items: center;
}

.searchBar {
    grid-area: 1 / 1 / 2 / 1;
    display: grid;
    grid-template: 1fr / 1fr 10fr;
    align-items: center;
}

.searchBar>div>img {
    height: 10%;
    width: 50%;
    align-items: start;
}

#search {
    width: 85%;
    border-radius: 10px;
    background-color: #eae1df;
    border-style: none;
    min-height: 30px
}

.rightSearch {
    grid-area: 1 / 2 / 1 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.rightSearch>p {
    font-weight: 800;
    font-size: 20px;
}
#bell {
    width: 100%;
    height: 40%;
}

#pfp {
    width: 80%;
    height: 70%;
}

#pfp, #bigPFP {
    border-radius: 50%;
}

#bigPFP {
    width: 80%;
    height: 70%;
}

.nonSearch {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

#bigPFP {grid-area: bigPFP;}
.text {grid-area: text;}
.greeting {
    grid-area: 1 / 1 / 1 / 2;
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    grid-template-areas:
    "bigPFP text" ;
    gap: 2%;
}

.text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}

.greeting>img {
    align-self: center;
}

#hi {
    align-self: end;
    font-weight: 700;
    font-size: 15px;
}

#nameHandle {
    font-weight: 800;
    font-size: 25px;
    align-self: start;
}

.headerButtons {
    grid-area: 1 / 2 / 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    gap: 8%;
    justify-items: center;
    padding-bottom: 9%;
}

.headerButtons>button {
    border-style: none;
    border-radius: 20px;
    background-color: #667761;
    color: #eae1df;
    padding: 12%;
    padding-left: 35%;
    padding-right: 35%;
    font-weight: 700;
    font-size: 14px;
}

.sidebar {
    display: grid;
    grid-template: 1fr 3fr 2fr 2fr / 1fr;
    background-color: #667761;
    color: #eae1df;
    font-weight: 800;
    gap: 2%;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 15%;
    padding-top: 5%;
}

.logo>p {
    font-size: 30px;
    font-weight: 700;
}

.logo>img {
    justify-self: center;
    height: 75%;
    width: 75%;
}

.links {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    margin-bottom: 10%;
    gap: 5%;
}

.links>div {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
    align-items: center;
}

.sidebar>div>div>a {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #eae1df;
}

.sidebar>div>div>img, .utility>div>div>img {
    justify-self: center;
    width: 60%;
    height: 60%;
}

.utility {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-top: 10%;
}

.utility>div {
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr 3fr;
}

.content {
    display: grid;
    grid-template: 0.8fr 8fr / 7fr 2.5fr;;
    background-color: #eae1df;;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 5%;
    gap: 2%
}

.projects {
    grid-area: 2 / 1 / 3 / 1;
    display: grid;
    grid-template: repeat(3, minmax(20%, 30%)) / repeat(2, minmax(30%, 50%));
    gap: 4%;;
}

.projects>div {
    display: grid;
    grid-template-rows: 2.5fr 1fr;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 5%;
    border-left: 10px solid #545e56;
    border-radius: 10px;
    gap: 2px;
}

.extras {
   display: grid;
   grid-template-rows: 4fr 1fr 4fr; 
}

.iconContainer {
    display: grid;
    grid-template-columns: 2fr 1.7fr;
}
.icons {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    align-items: center;
}

.icons>img {
    width: 40%;
    height: 40%;
}

.content>h1 {
    font-size: 22px;
    font-weight: 600;
    align-self: flex-end;
}

.cardText {
    text-wrap: wrap;
}
.cardText>h1 {
    font-size: 19px;
    font-weight: 600;
}

.cardText>p {
    font-size: 20px;
    color: #545e56;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    padding: 12%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
}


.announcements>div>h1 {
    font-size: 17px;
    font-weight: 700;
}

.announcements>div>p {
    font-size: 15px;
    color: #545e56;
    padding-top: 2%;
    padding-bottom: 5%;
}

.announcements>div>hr {
    margin-bottom: 5%;
}

.extras>h1 {
    font-size: 22px;
    font-weight: 600;
    align-self: flex-end;
}